.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.d3-tooltip{
  background: #B3697A;
  border-radius: 2px;
  position: absolute;
  padding: 5px;
  font-size: 10px;
}

